.container{
    background-color: #E5E5E5;
    position: relative;
    width: 100%;
    height: 100%;
}

.content{
    margin-top: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: blue;
    width:  705px;
    height: 525px;
    display: grid;
    grid-template-columns: 219px 486px;
}

.column-1{
    height: 100%;
    background-color: #14056B;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 12px;
}

.home{
    display: inline-flex;
    margin: 45px 0 0 18.5px;
}

.home-icon{
    width: 13px;
    height: 14px;
}

.home-title{
    color: white ;
    font-weight: 400;
    margin-left: 15px;
}

.manage{
    display: inline-flex;
    margin: 22px 0 0 17px;
}

.manage-icon{

}

.manage-title{
    margin-left: 18px;
    font-weight: 400;
}



.content-manage{
    display: inline-flex;
    margin: 22px 0 0 17px;
}

.content-manage-title{
    margin-left: 18px;
    font-weight: 400;

}

.content-list{
    margin: 22px 0;
}

.content-item{
    margin: 17px 79px;
    list-style: none;
    font-weight: 400;
}
.misc{
    margin: 0 0 0 17px;
    display: inline-flex;
}

.misc-title{
    margin-left: 18px;
    font-weight: 400;
}

.mini-game{
    margin: 13px 0 0 17px;
    display: inline-flex;
}

.mini-game-title{
    font-weight: 400;
    margin-left: 18px;
}

.survey{
    display: inline-flex;
    margin: 15.44px 0 0 17px; 
}

.survey-title{
    margin-left: 18px;
    font-weight: 400;
}

.report{
    display: inline-flex;
    margin: 22px 0 0 17px;
}


.report-title{
    font-weight: 400;
    margin-left: 18px;
}

.logout{
    display: inline-flex;
    margin: 22px 0 0 17px;
}

.logout-title{
    margin-left: 18px;
    font-weight: 400;
}



.column-2{
    background-color: #FBF9F8;
}

.hello-admin{
    font-size: 24px;
    position: fixed;
    top: 72px; 
    right: 67px;
}

.admin-content{
    position: fixed;
    font-size: 36px;
    top: 223px;
    right: 233px;
}


.login{
    background-color: #FBF9F8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{
    background-color: white;
    padding: 35px 30px 33px 30px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}
.form-title{
    font-size: 18px;
    margin-bottom: 46px;
}

.user{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.user-name-login{
    margin-bottom: 12px;
}

.password{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.user-password-login{
    margin-bottom: 10px;
}

.forget-text{
    font-size: 14px;
}
.forget{
    margin-bottom: 19px;
}

.login-button{
    background-color: #0C852E;
    color: white;
    width: 100%;
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 0;
    cursor: pointer;
}

.login-button:hover{
    opacity:0.8;
}

.login-btn-title{
    font-weight: 400;
    font-size:18px;
}

.footer{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}


/*Bảng điểm*/
.point{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.1);
}
.point-table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.table-content{
    border-collapse: collapse;
    font-size: 15px;
    min-width: 600px;
}

.table-content td,
.table-content tr{
    padding: 15px;
    border-bottom: 0.5px solid gray;
}


.table-content td:first-child{
    border-left: 0.5px solid gray;
}

.table-content td:last-child{
    border-right: 0.5px solid gray;
}

.table-content tr:nth-child(even){
    background-color: white;
}

.table-content th{
    padding: 10px;
    background-color: #009879;
    color: white;
    font-weight: 600;
    font-size: 15px;
    text-align: left;
}


.main-product{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
 
}
